<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.tracking.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.tracking.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JobRegistration</servlet-name>
		<servlet-class>com.tracking.JobRegistration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllJobsServlet</servlet-name>
		<servlet-class>com.tracking.AllJobsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecommendedServlet</servlet-name>
		<servlet-class>com.tracking.RecommendedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectedJobsServlet</servlet-name>
		<servlet-class>com.tracking.SelectedJobsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ToggleJobServlet</servlet-name>
		<servlet-class>com.tracking.ToggleJobServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarkCompletedServlet</servlet-name>
		<servlet-class>com.tracking.MarkCompletedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportSubmissionServlet</servlet-name>
		<servlet-class>com.tracking.ReportSubmissionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubmitEmployeeStatusReport</servlet-name>
		<servlet-class>com.tracking.SubmitEmployeeStatusReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllEmployees</servlet-name>
		<servlet-class>com.tracking.website.AllEmployees</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeDetails</servlet-name>
		<servlet-class>com.tracking.website.EmployeeDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StatusMarkers</servlet-name>
		<servlet-class>com.tracking.website.StatusMarkers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeDelete</servlet-name>
		<servlet-class>com.tracking.website.EmployeeDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllJobsWebsite</servlet-name>
		<servlet-class>com.tracking.website.AllJobsWebsite</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JobDetails</servlet-name>
		<servlet-class>com.tracking.website.JobDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/trackingsystemappengine</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobRegistration</servlet-name>
		<url-pattern>/jobRegistration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllJobsServlet</servlet-name>
		<url-pattern>/alljobs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecommendedServlet</servlet-name>
		<url-pattern>/recommended</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectedJobsServlet</servlet-name>
		<url-pattern>/selected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToggleJobServlet</servlet-name>
		<url-pattern>/toggle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarkCompletedServlet</servlet-name>
		<url-pattern>/markcompleted</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportSubmissionServlet</servlet-name>
		<url-pattern>/submitreport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmitEmployeeStatusReport</servlet-name>
		<url-pattern>/submitemployeereport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllEmployees</servlet-name>
		<url-pattern>/allemployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeDetails</servlet-name>
		<url-pattern>/empDtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatusMarkers</servlet-name>
		<url-pattern>/markers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeDelete</servlet-name>
		<url-pattern>/employeeDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllJobsWebsite</servlet-name>
		<url-pattern>/alljobswebsite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobDetails</servlet-name>
		<url-pattern>/jobDtl</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>